body { background-color: black;
}

h1 {
  font-family: 'Aladin', cursive;
  text-align: center;
  font-size: 50px;
  color: maroon;
  background-color: white;
  border-radius:10px;
}

h2 {
  font-family: 'Acme', sans-serif;
  color: white;
  text-align: center;
  text-align: left;
}

#img1 {
  float: right;
  overflow:auto;
  border-radius: 10px;
  border:10px solid white;
}

a{
  color: white;
  text-align: center;
  
}

img {
  float:left;
  border: 5px solid grey;
  
}
#para1 {
  font-family: 'Acme', sans-serif;
  color: white;
  border-top: 10px solid grey;
  background-color: maroon;
}
nav {
  float:none;
  padding-top:15px;
  color: white;
}

a {
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-radius: 10px;
    background-repeat: repeat;
    font-family: 'Aladin', cursive;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
    border-radius: 10px;
   
}

.active {
  color: grey;
  border-radius: 10px;
}



p {
  margin:auto;
  margin-left: auto;
  padding-top: 25px;
  padding-left: 10px;
  background-color: maroon;
}

#para2 {
  color: white;
  padding-top: 10px;
  padding: 50px;
}

#para3 {
  color: white;
  padding: 50px;
  text-align: inherit;
}

#para4 {
  color: white;
  padding-top: 10px;
  padding: 50px;
}

#para5 {
  text-align: center;
  padding:5px;
}
footer {
  text-align: center; 
  color:white;
  padding: 15px;
  background: maroon;
  
}

.fa:hover {
  color: maroon;
}
i {
  color:deepskyblue;
  text-align: center;
  padding: 5px;
  
}